[data-md-color-scheme="thefield"] {
    --md-primary-fg-color:        #13487a;
  }
  [data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #13487a;
  }
/* ---------- Fonts ---------- */

/* Poppins */

/*
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Light.woff2);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Regular.woff2);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Medium.woff2);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-SemiBold.woff2);
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins/Poppins-ExtraBold.woff2);
  font-weight: 800;
  font-display: swap;
}
*/

/* Roboto */
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Thin.woff2);
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-ThinItalic.woff2);
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Light.woff2);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-LightItalic.woff2);
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.woff2);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Italic.woff2);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Medium.woff2);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-BoldItalic.woff2);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Black.woff2);
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-BlackItalic.woff2);
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

:root {
  --md-text-font: "Roboto"; 
}